/* FONT FACE IMPORTS*/
@font-face {
    font-family: 'Atmos';
    src: url(/Atmos.ttf);
}
@font-face {
    font-family: 'PP Neue Machinima';
    src: url(/PPNeueMontreal-Medium.otf);
}

/* COLOURS IMPORTS */
@import '@radix-ui/colors/green.css';

html {
    background-color: var(--green-2);
}

main {
    width: 80%;
    margin: auto;
    padding-inline: 1rem;

    border-radius: 0.5rem;
    box-shadow: 0px 10px 35px 3px rgba(0, 0, 0, 0.23);

    background-color: var(--green-1);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-size: 16px;
    font-family: PP Neue Machinima;
}

ul {
    list-style-type: none;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: black;
}

header {
    background-image: url(/the-blowup-Y-rORcqMiqQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0px 10px 35px 3px rgba(0,0,0,0.45);

    height: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-family: Atmos;
    font-size: 3rem;

    margin: 4rem 1rem 2rem 1rem;
}

header nav ul{
    display: flex;
}

header nav ul li {
    padding: 1.5rem;
}

header nav ul li a {
    color:black;
    font-size: 1.25rem;

    padding: 1rem;
    border-radius: 0.5rem;
}

header nav ul li a:hover {
    color: white;
    background-color: black;
}

header nav ul li .active {
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.636);
    color:white;
}

main h2 {
    font-size: 4rem;
    text-align: center;

    padding: 2rem;
}

main section:first-of-type {
    margin: 4rem;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
    align-items: center;
}

article h3 {
    grid-column: 1 / span 1;

    font-size: 2.5rem;
    padding-block: 2rem;
}
article p {
    grid-column: 1 / span 1;
}
article img {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;

    height: auto;
    width: 18rem;

    border-radius: 0.5rem;
}

button {
    grid-column: 2 / span 1;

    border-radius: 0.5rem;
    border: 1px solid var(--green-7);
    background-color: var(--green-9);
    color: white;
    padding: 1rem;
    width: fit-content;

}
button:hover {
    border: 1px solid var(--green-8);
    background-color: var(--green-10);
}

.contact-form {
    margin-block: 4rem;
    padding: 1rem 2rem;  
    
    display: flex;
    flex-direction: column;

}

.contact-form form {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.contact-form form > * {
    width: fit-content;
}

.contact-form form button {
    align-self: center;
}


label {
    text-decoration: underline;
    text-decoration-color: var(--green-10);
    padding: 0.5rem;
}

input, textarea, select {
    border: 2px solid var(--green-6);
    background-color: var(--green-4);
    border-radius: 0.5rem;
    margin: 0.5rem;
}   

details {
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    width: fit-content;
}

details[open] {
    padding: 1.25rem;
}

footer {
    background-color: var(--green-8);

    width: 100%;

    padding-block: 3rem;
    padding-inline: 2rem;

    /* display: flex; */
}